.is-3-column {
  background-image: url("https://cdn.staticaly.com/gh/nililili7876/blog_pic@main/20221029/yaQQ图片20191231203000.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
